<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Eventi">
  <ion-content class="padding">

    <div class="item title">
      <h1>#HackRavenna</h1>
    </div>

    <div class="list card">


      <div class="item item-image">
        <img src="img/hr-logo.png">
      </div>

      <div class="row">
        <div class="col col-50">
          <a class="item item-icon-left positive" href="#">
            <i class="icon ion-ios-play-outline"></i>
            Riproduci
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-icon-left positive" href="#">
            <i class="icon ion-ios-world-outline"></i>
            TURISMO.RA.IT
          </a>
        </div>
      </div>
      <p class="padding"></p>

      <p>Lorem ipsum...</p>

    </div>

  </ion-content>
</ion-view>
