<ion-view view-title="RavennaMia">
  <ion-content class="padding">

    <div class="item title">
      <h1>Galla Placidia</h1>
    </div>

    <div class="list card">

      <div class="item item-image">
        <img src="img/hr-logo.png">
      </div>

      <div class="row">
        <div class="col col-50">
          <a class="item item-icon-left positive" href="#">
            <i class="icon ion-ios-play-outline"></i>
            Riproduci
          </a>
        </div>
        <div class="col col-50">
          <a class="item item-icon-left positive" href="#">
            <i class="icon ion-ios-navigate-outline"></i>
            Naviga
          </a>
        </div>
      </div>
      <p class="padding"></p>

      <p>Lorem ipsum...</p>

    </div>

  </ion-content>
</ion-view>
